@model employee_portal.Models.TbEmployee

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Edit Employee</h2>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <form method="post" asp-action="UpdateEmployee">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="EmployeeId">Employee ID:</label>
                <input asp-for="EmployeeId" class="form-control" readonly>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EmployeeCode">Employee Code:</label>
                <input asp-for="EmployeeCode" class="form-control" readonly>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Firstname">First Name:</label>
                <input asp-for="Firstname" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Lastname">Last Name:</label>
                <input asp-for="Lastname" class="form-control" >
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email">Email Address:</label>
                <input asp-for="Email" class="form-control">
            </div>
             <div class="form-group col-md-6">
                <label asp-for="Phonenumber">PhoneNumber:</label>
                <input asp-for="Phonenumber" class="form-control" >
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateOfBirth">Date Of Birth:</label>
                <input type="date" asp-for="DateOfBirth" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateOfJoin">Date Of Join</label>
                <input type="date" class="form-control mb-3" asp-for="DateOfJoin" id="dateOfJoin">
                <span asp-validation-for="DateOfJoin" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Salary">Salary</label>
                <input type="number" class="form-control mb-3" asp-for="Salary" placeholder="Enter Salary">
                <span asp-validation-for="Salary" class="alert-danger"></span>
            </div>

        </div>

        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
        <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.EmployeeId" class="btn btn-lg btn-secondary">Cancel</a>
    </form>
</div>
